:root{
    --background:#222;
    --purpleBtn:#e810a7;
    --redBtn:#fc1427;
}
body{
    background-color: var(--background);
}
.navbar{
    font-family: 'Limelight', cursive;
    font-weight:800;
}
.signup{
    background-image: linear-gradient(to left, var(--redBtn), var(--purpleBtn));
}



@media only screen and (max-width: 990px) {
   
  }