:root{
    --background:#222;
    --purpleBtn:#e810a7;
    --redBtn:#fc1427;
}
body{
    background-color: var(--background);
}
    /* nav menu fonts */
.nav-link{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
}
    /* nav menu fonts */
.signup{
    background-image: linear-gradient(to left, var(--redBtn), var(--purpleBtn));
}
    /* modal center text line */
.textincenter {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #e6e4e1; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 .textincenter, span { 
     background:#fff; 
     padding:0 10px; 
 }
    /* end modal center text line */

@media only screen and (max-width: 990px) {
   
  }